# ENV PATH
export PATH=$PATH
export PATH="/usr/local/sbin:$PATH" # homebrew

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

# Use 256 colors
export TERM=xterm-256color

# More color settings
export CLICOLOR=1
export LSCOLORS=Exfxcxdxbxegedabagacad

# Prompt
export PS1="\[\033[38;5;202m\]{\[$(tput sgr0)\]\[\033[38;5;15m\] \W \[$(tput sgr0)\]\[\033[38;5;202m\]}\[$(tput sgr0)\]\[\033[38;5;15m\] \[$(tput sgr0)\]\[\033[38;5;34m\]\\$\[$(tput sgr0)\]\[\033[38;5;15m\] \[$(tput sgr0)\]"

# Tell grep to highlight matches
export GREP_OPTIONS='--color=auto'

# Make vim the default editor.
export EDITOR='vim';

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8';

# Increase Bash history size. Allow 32³ entries; the default is 500.
export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";

# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth';

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

# virtualenv,virtualenvwrapper
export WORKON_HOME=~/Envs
export PROJECT_HOME=$HOME/Sites/python
source /usr/local/bin/virtualenvwrapper.sh
export PIP_REQUIRE_VIRTUALENV=true
PYTHONPATH=$HOME/Sites/python:$PYTHONPATH
export PYTHONPATH

# Postgres
export PATH=$PATH:/Applications/Postgres.app/Contents/Versions/latest/bin
